/*
* Project：   ColorOS 3_1 StyleSheet
* Creator：   Jackzoom
* CreatDate： 2017/09/28
*/
$nav_width:1200px;//容器宽度
$hover_color:#3fbc81;//文字hover颜色

*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #222;
  &:hover{
    color: $hover_color;
  }
}
html{
  font-size: 12px;
}
ul{
  list-style: none;
  li{
    float: left;
  }
}


//头部导航header
#nav_header{
  height: 65px;
  width: $nav_width;
  margin: auto;
  overflow: hidden;
  text-align: right;
  ul {
    width: $nav_width;
    height: 65px;
    margin: auto;
    .header_logo {
      margin-right: 350px;
      line-height: 65px;
      vertical-align: middle;
      img {
        width: 120px;
        height: 30px;
        vertical-align: middle;
      }
    }
    li {
      margin-right: 40px;
      height: 65px;
      line-height: 65px;
      display: block;
      cursor: pointer;
      span a{
        font-size: 1.3rem;
        display: inline-block;
      }
    }
    .header_home span{
      &:hover{
        color:black;
      }
    }
  }
}

//coloros视频展示

#coloros_header{
  height: auto;
  width: 100%;
  border-top: .5px solid #ccc;
  #coloros_header_show{
    width: 1200px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    .coloros_header_textPic{
      width: 700px;
      display: block;
      margin: auto;
    }
    span{
      margin: 10px 0;
      display: block;
      height: 40px;
      line-height: 40px;
      font-size: 1.4rem;
      img{
        position: relative;
        top: 2px;
        right: 5px;
      }
      &:hover{
        color: $hover_color;
        cursor: pointer;
      }
    }

  }
}
//coloros锚链接切换
#coloros_anchor_links{
  position: absolute;
  z-index: 9999;
  margin-top: -80px;
  height: 100px;
  width: 100%;
  background: #fff;
  ul{
    width: $nav_width;
    padding-left: 400px;
    margin: auto;
    li{
      a{
        font-size: 2rem;
        width: 210px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        &:hover{
          color: inherit;
        }
      }
//锚链接雪碧图
      .coloros_anchor_quick{
        background: url("../img/coloros3_1_img/s1_nav.png") no-repeat 60px -65px;
      }
      .coloros_anchor_ease{
        background: url("../img/coloros3_1_img/s1_nav.png") no-repeat -185px -65px;
      }
      .coloros_anchor_safe{
        background: url("../img/coloros3_1_img/s1_nav.png") no-repeat -425px -65px;
      }
      .coloros_anchor_beauty{
        background: url("../img/coloros3_1_img/s1_nav.png") no-repeat -645px -65px;
      }
    }
  }
}


//底部链接
#bottom_footer{
  width: $nav_width/2+100;
  margin: 30px auto;
  .footer_links{

    line-height: 10px;
    margin: auto;
    li{
      font-size: 1.3rem;
      margin: 10px 0;
      a:hover{
        color: $hover_color;
      }
    }
    li:nth-child(2n-1){
      height: 20px;
      line-height: 20px;
      padding:0 20px;
      border-right: 1px solid #ccc;
    }
    .footer_ico_weibo{
      cursor: pointer;
      .footer_weibo_img{
        background-image: url("../img/home_img/foot_icon.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-top: -5px;
        margin-right: 10px;
      }
      .footer_weibo_a{
        display: inline-block;
        position: relative;
        top: -7px;
        cursor: pointer;
      }
    }
    .footer_ico_weixin{
      cursor: pointer;
      padding-left: 20px;
      padding-top: 5px;
      .footer_weixin_img{
        background-image: url("../img/home_img/foot_icon.png");
        background-repeat: no-repeat;
        background-position: -56px 0;
        background-size: cover;
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-top: -10px;
        margin-right: 10px;

      }
      .footer_weixin_a{
        display: inline-block;
        position: relative;
        top: -7px;
        cursor: pointer;
      }
      img{
        display: none;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 555;
      }
    }
  }
  .footer_about{
    clear: both;
    width: $nav_width/2+200;
    font-size: 1.1rem;
    display: block;
    margin: auto;
    padding-left: 20px;

  }
}