@charset "UTF-8";
/*
* Project：   ColorOS 3_1 StyleSheet
* Creator：   Jackzoom
* CreatDate： 2017/09/28
*/
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #222; }
  a:hover {
    color: #3fbc81; }

html {
  font-size: 12px; }

ul {
  list-style: none; }
  ul li {
    float: left; }

#nav_header {
  height: 65px;
  width: 1200px;
  margin: auto;
  overflow: hidden;
  text-align: right; }
  #nav_header ul {
    width: 1200px;
    height: 65px;
    margin: auto; }
    #nav_header ul .header_logo {
      margin-right: 350px;
      line-height: 65px;
      vertical-align: middle; }
      #nav_header ul .header_logo img {
        width: 120px;
        height: 30px;
        vertical-align: middle; }
    #nav_header ul li {
      margin-right: 40px;
      height: 65px;
      line-height: 65px;
      display: block;
      cursor: pointer; }
      #nav_header ul li span a {
        font-size: 1.3rem;
        display: inline-block; }
    #nav_header ul .header_home span:hover {
      color: black; }

#coloros_header {
  height: auto;
  width: 100%;
  border-top: .5px solid #ccc; }
  #coloros_header #coloros_header_show {
    width: 1200px;
    margin: auto;
    padding-top: 100px;
    text-align: center; }
    #coloros_header #coloros_header_show .coloros_header_textPic {
      width: 700px;
      display: block;
      margin: auto; }
    #coloros_header #coloros_header_show span {
      margin: 10px 0;
      display: block;
      height: 40px;
      line-height: 40px;
      font-size: 1.4rem; }
      #coloros_header #coloros_header_show span img {
        position: relative;
        top: 2px;
        right: 5px; }
      #coloros_header #coloros_header_show span:hover {
        color: #3fbc81;
        cursor: pointer; }

#coloros_anchor_links {
  position: absolute;
  z-index: 9999;
  margin-top: -80px;
  height: 100px;
  width: 100%;
  background: #fff; }
  #coloros_anchor_links ul {
    width: 1200px;
    padding-left: 400px;
    margin: auto; }
    #coloros_anchor_links ul li a {
      font-size: 2rem;
      width: 210px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      vertical-align: middle;
      display: inline-block; }
      #coloros_anchor_links ul li a:hover {
        color: inherit; }
    #coloros_anchor_links ul li .coloros_anchor_quick {
      background: url("../img/coloros3_1_img/s1_nav.png") no-repeat 60px -65px; }
    #coloros_anchor_links ul li .coloros_anchor_ease {
      background: url("../img/coloros3_1_img/s1_nav.png") no-repeat -185px -65px; }
    #coloros_anchor_links ul li .coloros_anchor_safe {
      background: url("../img/coloros3_1_img/s1_nav.png") no-repeat -425px -65px; }
    #coloros_anchor_links ul li .coloros_anchor_beauty {
      background: url("../img/coloros3_1_img/s1_nav.png") no-repeat -645px -65px; }

#bottom_footer {
  width: 700px;
  margin: 30px auto; }
  #bottom_footer .footer_links {
    line-height: 10px;
    margin: auto; }
    #bottom_footer .footer_links li {
      font-size: 1.3rem;
      margin: 10px 0; }
      #bottom_footer .footer_links li a:hover {
        color: #3fbc81; }
    #bottom_footer .footer_links li:nth-child(2n-1) {
      height: 20px;
      line-height: 20px;
      padding: 0 20px;
      border-right: 1px solid #ccc; }
    #bottom_footer .footer_links .footer_ico_weibo {
      cursor: pointer; }
      #bottom_footer .footer_links .footer_ico_weibo .footer_weibo_img {
        background-image: url("../img/home_img/foot_icon.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-top: -5px;
        margin-right: 10px; }
      #bottom_footer .footer_links .footer_ico_weibo .footer_weibo_a {
        display: inline-block;
        position: relative;
        top: -7px;
        cursor: pointer; }
    #bottom_footer .footer_links .footer_ico_weixin {
      cursor: pointer;
      padding-left: 20px;
      padding-top: 5px; }
      #bottom_footer .footer_links .footer_ico_weixin .footer_weixin_img {
        background-image: url("../img/home_img/foot_icon.png");
        background-repeat: no-repeat;
        background-position: -56px 0;
        background-size: cover;
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-top: -10px;
        margin-right: 10px; }
      #bottom_footer .footer_links .footer_ico_weixin .footer_weixin_a {
        display: inline-block;
        position: relative;
        top: -7px;
        cursor: pointer; }
      #bottom_footer .footer_links .footer_ico_weixin img {
        display: none;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 555; }
  #bottom_footer .footer_about {
    clear: both;
    width: 800px;
    font-size: 1.1rem;
    display: block;
    margin: auto;
    padding-left: 20px; }

/*# sourceMappingURL=coloros3_1.css.map */
