* {
  margin: 0;
  padding: 0; }

#safety_section14 {
  height: 1000px;
  background: url("../img/coloros3_1_img/s6_bg.jpg-170912.jpg") no-repeat center;
  background-size: cover;
  color: white;
  box-sizing: border-box; }
  #safety_section14 h3 {
    padding: 100px 0 50px 0;
    font-size: 50px;
    font-weight: normal;
    font-size: 42px; }
  #safety_section14 p {
    width: 1200px;
    font-size: 20px;
    margin: auto;
    font-weight: normal; }
  #safety_section14 .section14_img {
    width: 1200px;
    height: 574px;
    background: url("../img/coloros3_1_img/s6_1.png-170912.png") no-repeat center;
    margin: 70px auto;
    position: relative; }
    #safety_section14 .section14_img .icon {
      width: 62px;
      height: 68px;
      position: absolute;
      animation: fadeInDown 2s infinite;
      background: url("../img/coloros3_1_img/s6_2.png-170912.png"); }
    #safety_section14 .section14_img .icon-1 {
      left: 270px;
      top: 180px; }
    #safety_section14 .section14_img .icon-2 {
      left: 570px;
      top: 120px; }
    #safety_section14 .section14_img .icon-3 {
      left: 890px;
      top: 270px; }
    #safety_section14 .section14_img .icon-4 {
      left: 990px;
      top: 410px; }

.section {
  text-align: center; }

#safety_section15, #safety_section16, #safety_section17, #safety_section18 {
  height: 670px; }
  #safety_section15 h3, #safety_section16 h3, #safety_section17 h3, #safety_section18 h3 {
    font-weight: normal;
    font-size: 42px;
    font-size: 34px;
    padding: 100px 0 30px 0; }
  #safety_section15 p, #safety_section16 p, #safety_section17 p, #safety_section18 p {
    width: 1200px;
    font-size: 20px;
    margin: auto;
    font-weight: normal; }
  #safety_section15 img, #safety_section16 img, #safety_section17 img, #safety_section18 img {
    margin-top: 70px; }
  #safety_section15 ul, #safety_section16 ul, #safety_section17 ul, #safety_section18 ul {
    margin: 50px auto;
    width: 957px; }
    #safety_section15 ul .networking, #safety_section16 ul .networking, #safety_section17 ul .networking, #safety_section18 ul .networking {
      margin-left: 8px; }
    #safety_section15 ul .open, #safety_section16 ul .open, #safety_section17 ul .open, #safety_section18 ul .open {
      margin-left: 76px; }
    #safety_section15 ul .landing, #safety_section16 ul .landing, #safety_section17 ul .landing, #safety_section18 ul .landing {
      margin-left: 72px; }
    #safety_section15 ul .pay, #safety_section16 ul .pay, #safety_section17 ul .pay, #safety_section18 ul .pay {
      margin-left: 74px; }
    #safety_section15 ul li, #safety_section16 ul li, #safety_section17 ul li, #safety_section18 ul li {
      box-sizing: border-box;
      list-style: none;
      float: left;
      width: 180px;
      height: 103px;
      text-align: left;
      font-size: 20px; }
      #safety_section15 ul li span, #safety_section16 ul li span, #safety_section17 ul li span, #safety_section18 ul li span {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 20px; }

#safety_section16 {
  background: #F8F8F8;
  height: 800px;
  box-sizing: border-box; }

#safety_section17 {
  height: 1150px; }

#safety_section18 {
  height: 1070px; }

@keyframes text_animate {
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0); }
  100% {
    opacity: 1;
    transform: translateZ(0); } }
.move p {
  animation: text_animate .7s forwards ease-in-out;
  animation-delay: .2s; }

.move h3 {
  animation: text_animate .7s forwards ease-in-out;
  animation-delay: .2s; }

/*# sourceMappingURL=coloros3.1.css.map */
