/*
* Project：   Home StyleSheet
* Creator：   Jackzoom
* CreatDate： 2017/09/21
*/
$nav_width:1200px;//容器宽度
$car_width:1900px;//轮播图图片宽度
$hover_color:#3fbc81;//文字hover颜色
*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #222;
  &:hover{
    color: #1b6d85;
  }
}
html{
  font-size: 12px;
}
ul{
  list-style: none;
  li{
    float: left;
  }
}
//头部导航header
#nav_header{
  height: 65px;
  width: $nav_width;
  margin: auto;
  overflow: hidden;
  ul {
    width: $nav_width;
    height: 65px;
    margin: auto;
    .header_logo {
      margin-right: 250px;
      line-height: 65px;
      vertical-align: middle;
      img {
        width: 120px;
        height: 30px;
        vertical-align: middle;
      }
    }
    li {
      margin-right: 40px;
      height: 65px;
      line-height: 65px;
      display: block;
      cursor: pointer;
      span a{
        font-size: 1.3rem;
        display: inline-block;
        &:hover {
          color: $hover_color;
        }
      }
    }
    .header_home span{
      &:hover{
        color:black;
      }
    }
  }
}

//首页轮播图
#home_carousel{
  height: 700px;
  width: $car_width;
  margin:auto;
  overflow: hidden;
  ul{
    border-top: 1px solid #ccc;/*header分割线*/
    width: $car_width*3;
    float: left;
    display: inline-block;
    position: relative;
    left: 0;
    transition: all .3s ease-in-out;
    li{
      float: left;display: inline-block;
      img{
        width: $car_width;
        height: 700px;
      }
    }
  }
}
.home_car_ico{
  position: relative;
  top: -50px;
  z-index: 555;
  left:950px;
  float: left;
  span{
    width: 15px;
    height: 15px;
    display: inline-block;
    float: left;
    margin: 5px;
    border-radius: 50%;
    background: RGBA(0,0,0,.5);
  }
  .home_car_active{
    background: RGBA(255,255,255,.8);
  }
}

//主页功能介绍
#home_function{
  width: $nav_width;
  margin:50px auto;
  ul{
    width: $nav_width+100;
    height: 120px;
    margin: auto;
    li{
      width: $nav_width/3;
      border-right: 1px solid #ccc;
      margin-right: 30px;
      &:last-child{
        border-right: 0;
      }
      .home_fun_img{
        width: 70px;
        height: 70px;
        line-height: 70px;
        float: left;
        border:1px solid #ccc;
        border-radius: 20px;
        text-align: center;
        margin: 5px;
        display: block;
        img{
          width: 40px;
          height: 40px;
          display: inline-block;
          vertical-align: middle
        }
      }
      .home_fun_info{
        margin-top: 5px;
        margin-left: 10px;
        display: inline-block;
        &:hover{
          color: $hover_color;
        }
        h2{
          font-weight: normal;
          font-size: 1.7rem;
          overflow: hidden;
          cursor: pointer;
          &>a:hover{
            color: $hover_color;
          }
        }
        span{
          color: #666;
          font-size: 1.4rem;
          margin-top: 15px;
          display: block;
        }
      }
    }
  }
}

//底部链接
#bottom_footer{
  width: $nav_width/2+100;
  margin: 30px auto;
  .footer_links{

    line-height: 10px;
    margin: auto;
    li{
      font-size: 1.3rem;
      margin: 10px 0;
      a:hover{
        color: $hover_color;
      }
    }
    li:nth-child(2n-1){
      height: 20px;
      line-height: 20px;
      padding:0 20px;
      border-right: 1px solid #ccc;
    }
    .footer_ico_weibo{
      cursor: pointer;
      .footer_weibo_img{
        background-image: url("../img/home_img/foot_icon.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-top: -5px;
        margin-right: 10px;
      }
      .footer_weibo_a{
        display: inline-block;
        position: relative;
        top: -7px;
        cursor: pointer;
      }
    }
    .footer_ico_weixin{
      cursor: pointer;
      padding-left: 20px;
      padding-top: 5px;
      .footer_weixin_img{
        background-image: url("../img/home_img/foot_icon.png");
        background-repeat: no-repeat;
        background-position: -56px 0;
        background-size: cover;
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-top: -10px;
        margin-right: 10px;

      }
      .footer_weixin_a{
        display: inline-block;
        position: relative;
        top: -7px;
        cursor: pointer;
      }
      img{
        display: none;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 555;



      }
    }
  }
  .footer_about{
    clear: both;
    width: $nav_width/2+200;
    font-size: 1.1rem;
    display: block;
    margin: auto;
    padding-left: 20px;

  }
}
