/*
 *Project:『ColorOS 官方网站』
 *Content:首页、ColorOs 3.1、手机搬家、安全、下载、云服务
 * About :2017/09/19~~~
 */
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
}
.nav_container{
  width: 100vw;
  height: 6.6rem;
  position: relative;
  z-index: 9999;
  background: #ffffff;
  overflow: hidden;
}

