@charset "UTF-8";
/*
* Project：   Safe StyleSheet
* Creator：   Shilingling
* CreatDate： 2017/09/21
*/
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #222; }
  a:hover {
    color: #3fbc81;
    text-decoration: none; }

html {
  font-size: 12px; }

ul {
  list-style: none; }
  ul li {
    float: left; }

body {
  font-family: "Microsoft YaHei", "Myriad Pro", FZLanTingHei-R-GBK, Arial, STHeiti, SimSun, sans-serif;
  overflow-x: hidden; }

#nav_header {
  height: 65px;
  width: 1200px;
  margin: auto;
  overflow: hidden; }
  #nav_header ul {
    width: 1200px;
    height: 65px;
    margin: auto; }
    #nav_header ul .header_logo {
      margin-right: 350px;
      line-height: 65px;
      vertical-align: middle; }
      #nav_header ul .header_logo img {
        width: 120px;
        height: 30px;
        vertical-align: middle; }
    #nav_header ul li {
      margin-right: 40px;
      height: 65px;
      line-height: 65px;
      display: block;
      cursor: pointer; }
      #nav_header ul li span a {
        font-size: 1.3rem;
        display: inline-block; }
        #nav_header ul li span a:hover {
          color: #3fbc81; }
    #nav_header ul .header_home span:hover {
      color: black; }

.safe-pc-fullpage {
  border-top: 1px solid #DDDDDD;
  width: 100%;
  background: url("../img/safe_img/clean_bg.png-170912.png") repeat-x left top; }
  .safe-pc-fullpage .safe-pc-fullpage-width {
    width: 120rem;
    margin: 0 auto;
    position: relative;
    min-height: 700px; }
    .safe-pc-fullpage .safe-pc-fullpage-width .safe-pc-fullpage-img {
      float: left;
      position: absolute;
      bottom: 0;
      left: -180px; }
      .safe-pc-fullpage .safe-pc-fullpage-width .safe-pc-fullpage-img:after {
        display: table;
        content: "";
        clear: both; }
    .safe-pc-fullpage .safe-pc-fullpage-width .safe-pc-fullpage-text {
      font-size: 20px;
      width: 480px;
      color: #000000;
      position: absolute;
      z-index: 1;
      right: 237px;
      bottom: 250px; }
      .safe-pc-fullpage .safe-pc-fullpage-width .safe-pc-fullpage-text h2 {
        font-size: 60px;
        margin-bottom: 10px; }
      .safe-pc-fullpage .safe-pc-fullpage-width .safe-pc-fullpage-text p {
        color: #333;
        padding: 10px 0;
        font-size: 18px;
        background: linear-gradient(to bottom, #ebfff0 0%, #e8feec 100%); }

.safe-pc-video {
  font-weight: "xiaohei";
  overflow: hidden;
  width: 120rem;
  margin: auto; }
  .safe-pc-video .safe-pc-video-item {
    display: inline-block;
    width: 30rem;
    height: 16.5rem;
    margin: 50px 50px;
    text-align: center; }
    .safe-pc-video .safe-pc-video-item .safe-pc-video-item-text {
      font-size: 16px;
      margin: 37px auto 5px auto;
      width: 6rem;
      text-align: center; }
    .safe-pc-video .safe-pc-video-item .safe-pc-video-item-one-text {
      background: rgba(244, 233, 183, 0.4); }
    .safe-pc-video .safe-pc-video-item .safe-pc-video-item-two-text {
      background: rgba(196, 211, 233, 0.4); }
    .safe-pc-video .safe-pc-video-item .safe-pc-video-item-tree-text {
      background: rgba(226, 244, 183, 0.4); }
  .safe-pc-video .safe-pc-video-item-one {
    background: url("../img/safe_img/cleanvideo.jpg") no-repeat center center; }
  .safe-pc-video .safe-pc-video-item-two {
    background: url("../img/safe_img/safevideo.jpg") no-repeat center center; }
  .safe-pc-video .safe-pc-video-item-tree {
    background: url("../img/safe_img/payvideo.jpg") no-repeat center center; }

.safe-pc-property {
  padding: 200px 0; }

.safe-pc-center-back {
  width: 1300px;
  margin: 0 auto; }

.safe-pc-bg {
  background-color: #fafafa; }

.safe-pc-center-text {
  float: right;
  margin-top: 10rem; }

.safe-pc-center-one h2 {
  font-size: 46px;
  font-family: 'xianhei';
  margin-bottom: 20px;
  color: #000; }
.safe-pc-center-one .safe-pc-center-always {
  font-size: 30px;
  color: #373737; }
  .safe-pc-center-one .safe-pc-center-always .safe-pc-center-text-list {
    text-align: center; }
.safe-pc-center-one .safe-pc-text-p {
  color: #333;
  font-size: 20px; }

.safe-pc-center-img {
  float: left; }

.safe-pc-center-pay-text {
  float: left;
  margin-top: 10rem; }

.safe-pc-center-pay-img {
  float: right; }

.safe-pc-center-always .safe-pc-center-text-item {
  display: inline-block; }
.safe-pc-center-always .safe-pc-center-text-wire {
  border: 1px solid #000000;
  height: 25px;
  display: inline-block;
  margin: -1px 20px; }
.safe-pc-center-always .safe-pc-center-text-list {
  display: inline-block; }

.safe-pc-center-one {
  width: 850px; }
  .safe-pc-center-one .safe-pc-text-h {
    font-size: 3.5rem; }
  .safe-pc-center-one .safe-pc-center-always .safe-pc-center-text-list span {
    font-size: 30px; }
  .safe-pc-center-one .safe-pc-text-p {
    margin-top: 2rem;
    font-size: 20px;
    color: #333; }

#bottom_footer {
  width: 700px;
  margin: 30px auto; }
  #bottom_footer .footer_links {
    line-height: 10px;
    margin: auto; }
    #bottom_footer .footer_links li {
      font-size: 1.3rem;
      margin: 10px 0; }
      #bottom_footer .footer_links li a:hover {
        color: #3fbc81; }
    #bottom_footer .footer_links li:nth-child(2n-1) {
      height: 20px;
      line-height: 20px;
      padding: 0 20px;
      border-right: 1px solid #ccc; }
    #bottom_footer .footer_links .footer_ico_weibo {
      cursor: pointer; }
      #bottom_footer .footer_links .footer_ico_weibo .footer_weibo_img {
        background-image: url("../img/home_img/foot_icon.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-top: -5px;
        margin-right: 10px; }
      #bottom_footer .footer_links .footer_ico_weibo .footer_weibo_a {
        display: inline-block;
        position: relative;
        top: -7px;
        cursor: pointer; }
    #bottom_footer .footer_links .footer_ico_weixin {
      cursor: pointer;
      padding-left: 20px;
      padding-top: 5px; }
      #bottom_footer .footer_links .footer_ico_weixin .footer_weixin_img {
        background-image: url("../img/home_img/foot_icon.png");
        background-repeat: no-repeat;
        background-position: -56px 0;
        background-size: cover;
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-top: -10px;
        margin-right: 10px; }
      #bottom_footer .footer_links .footer_ico_weixin .footer_weixin_a {
        display: inline-block;
        position: relative;
        top: -7px;
        cursor: pointer; }
      #bottom_footer .footer_links .footer_ico_weixin img {
        display: none;
        width: 300px;
        height: 300px;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 80px auto;
        z-index: 555; }
  #bottom_footer .footer_about {
    clear: both;
    width: 800px;
    font-size: 1.1rem;
    display: block;
    margin: auto;
    padding-left: 20px; }

/*# sourceMappingURL=safe.css.map */
